@media (min-width: 768px) {

    #menuButton {
        display: none;
    }

    nav {
        display: flex !important;
        justify-content: center;
        gap: 1rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}